sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone[grpc]>=6.0.0
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
langchain-huggingface
langchain-nvidia-ai-endpoints
-e .